node-red/ef102-client-red.txt
[{"id":"3bd949fd.e93896","type":"tab","label":"Ebb Flow","disabled":false,"info":""},{"id":"ab33db30.4df098","type":"inject","z":"3bd949fd.e93896","name":"toggle","topic":"","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1061,"wires":[["99df59a2.ad6e48"]]},{"id":"99df59a2.ad6e48","type":"mqtt out","z":"3bd949fd.e93896","name":"","topic":"/msillanohome/ebbflow/1/command","qos":"0","retain":"","broker":"dd049958.750928","x":800,"y":981,"wires":[]},{"id":"43eaeefd.d039b","type":"inject","z":"3bd949fd.e93896","name":"ebb","topic":"","payload":"ebb","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":981,"wires":[["99df59a2.ad6e48"]]},{"id":"621909f2.e69f48","type":"inject","z":"3bd949fd.e93896","name":"flow","topic":"","payload":"flow","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1021,"wires":[["99df59a2.ad6e48"]]},{"id":"a6197569.e9a6a8","type":"mqtt out","z":"3bd949fd.e93896","name":"","topic":"/msillanohome/ebbflow/1/set","qos":"","retain":"","broker":"dd049958.750928","x":520,"y":881,"wires":[]},{"id":"214182eb.aafa0e","type":"inject","z":"3bd949fd.e93896","name":"winter timezone","topic":"","payload":"{\"data\":\"timezone\",\"value\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":881,"wires":[["a6197569.e9a6a8"]]},{"id":"841bacfb.1feb","type":"inject","z":"3bd949fd.e93896","name":"summer timezone","topic":"","payload":"{\"data\":\"timezone\",\"value\":\"1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":921,"wires":[["a6197569.e9a6a8"]]},{"id":"14c18b72.48c2f5","type":"inject","z":"3bd949fd.e93896","name":"set Day","topic":"","payload":"{\"data\":\"setD\",\"value\":\"{\\\"time\\\":\\\"07:30\\\",\\\"days\\\":1,\\\"ebb\\\":3,\\\"flow\\\":58}\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":981,"wires":[["a6197569.e9a6a8"]]},{"id":"83222c1c.572df","type":"inject","z":"3bd949fd.e93896","name":"set Nigth","topic":"","payload":"{\"data\":\"setN\",\"value\":\"{\\\"time\\\":\\\"20:30\\\",\\\"ebb\\\":2,\\\"flow\\\":288}\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1021,"wires":[["a6197569.e9a6a8"]]},{"id":"d535f148.71702","type":"inject","z":"3bd949fd.e93896","name":"send Day","topic":"","payload":"sendD","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1220,"wires":[["99df59a2.ad6e48"]]},{"id":"ab3346c9.4a0f38","type":"inject","z":"3bd949fd.e93896","name":"send Nigth","topic":"","payload":"sendN","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":1260,"wires":[["99df59a2.ad6e48"]]},{"id":"d63c0712.5950c8","type":"ui_text_input","z":"3bd949fd.e93896","name":"","label":"Start time","group":"8c1cc485.da8cc8","order":1,"width":"4","height":"1","passthru":false,"mode":"time","delay":300,"topic":"","x":520,"y":200,"wires":[["85823389.d3af1"]]},{"id":"626d0de9.e0b244","type":"ui_numeric","z":"3bd949fd.e93896","name":"","label":"Ebb [min]","group":"8c1cc485.da8cc8","order":4,"width":"4","height":"1","passthru":true,"topic":"","format":"{{value}}","min":"1","max":"1441","step":1,"x":520,"y":320,"wires":[["5712ebb8.8bdfa4"]]},{"id":"b99800dc.73b9e","type":"ui_numeric","z":"3bd949fd.e93896","name":"","label":"Flow","group":"8c1cc485.da8cc8","order":2,"width":"4","height":"1","passthru":true,"topic":"","format":"{{value}}","min":"1","max":"60","step":1,"x":510,"y":380,"wires":[["f7fb224d.74b4"]]},{"id":"85823389.d3af1","type":"function","z":"3bd949fd.e93896","name":"save time","func":"var d = new Date( msg.payload);\nmsg.payload = d.toTimeString().substring(0, 5);\nflow.set(\"dstart\", msg.payload, \"day\");","outputs":0,"noerr":0,"x":700,"y":200,"wires":[]},{"id":"5712ebb8.8bdfa4","type":"function","z":"3bd949fd.e93896","name":"save ebb","func":"flow.set(\"debb\", msg.payload, \"day\");","outputs":0,"noerr":0,"x":700,"y":320,"wires":[]},{"id":"f7fb224d.74b4","type":"function","z":"3bd949fd.e93896","name":"save flow","func":"flow.set(\"dflow\", msg.payload, \"day\");","outputs":0,"noerr":0,"x":700,"y":380,"wires":[]},{"id":"5071483a.ba2278","type":"ui_button","z":"3bd949fd.e93896","name":"","group":"8c1cc485.da8cc8","order":5,"width":"4","height":"1","passthru":false,"label":"Set day","color":"","bgcolor":"SKYBLUE","icon":"","payload":"","payloadType":"str","topic":"","x":520,"y":440,"wires":[["55def66f.8ad388"]]},{"id":"55def66f.8ad388","type":"function","z":"3bd949fd.e93896","name":"day Json","func":"var dTime = flow.get(\"dstart\", \"day\");\nvar dDays  = flow.get(\"ddays\", \"day\");\nvar dEbb  = flow.get(\"debb\", \"day\");\nvar dFlow = flow.get(\"dflow\", \"day\");\nmsg.payload = \"{\\\"data\\\":\\\"setD\\\",\\\"value\\\":\"+\"\\\"{\\\\\\\"time\\\\\\\":\\\\\\\"\"+dTime+\"\\\\\\\",\\\\\\\"days\\\\\\\":\"+dDays+\",\\\\\\\"ebb\\\\\\\":\"+dEbb+\",\\\\\\\"flow\\\\\\\":\"+dFlow+\"}\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":440,"wires":[["4b672b7.ee2d8d4","3bbc9ac9.508666","833cf27.822921"]]},{"id":"25c69a0b.7d8cd6","type":"debug","z":"3bd949fd.e93896","name":"Echo rx setup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":260,"y":520,"wires":[]},{"id":"4b672b7.ee2d8d4","type":"mqtt out","z":"3bd949fd.e93896","name":"","topic":"/msillanohome/ebbflow/1/set","qos":"0","retain":"","broker":"dd049958.750928","x":1060,"y":700,"wires":[]},{"id":"a64c8ce1.dae9a","type":"ui_text_input","z":"3bd949fd.e93896","name":"","label":"Start time","group":"973efbe9.d4dee8","order":1,"width":0,"height":0,"passthru":false,"mode":"time","delay":300,"topic":"","x":520,"y":520,"wires":[["1269e08f.519caf"]]},{"id":"24e6f7a9.7cfb28","type":"ui_numeric","z":"3bd949fd.e93896","name":"","label":"Ebb [min]","group":"973efbe9.d4dee8","order":2,"width":"4","height":"2","passthru":true,"topic":"","format":"{{value}}","min":"1","max":"1441","step":1,"x":520,"y":580,"wires":[["b279699e.06e7a8"]]},{"id":"7687431.7cfe7bc","type":"ui_numeric","z":"3bd949fd.e93896","name":"","label":"Flow","group":"973efbe9.d4dee8","order":3,"width":"4","height":"1","passthru":true,"topic":"","format":"{{value}}","min":"1","max":"60","step":1,"x":510,"y":640,"wires":[["5198cd27.f8de94"]]},{"id":"6ecf8f23.210e2","type":"ui_button","z":"3bd949fd.e93896","name":"","group":"973efbe9.d4dee8","order":4,"width":"4","height":"1","passthru":false,"label":"Set night","color":"","bgcolor":"SKYBLUE","icon":"","payload":"","payloadType":"str","topic":"","x":520,"y":700,"wires":[["9f915737.69ac08"]]},{"id":"1269e08f.519caf","type":"function","z":"3bd949fd.e93896","name":"save time","func":"var d = new Date( msg.payload);\nmsg.payload = d.toTimeString().substring(0, 5);\nflow.set(\"nstart\", msg.payload, \"night\");","outputs":0,"noerr":0,"x":700,"y":520,"wires":[]},{"id":"b279699e.06e7a8","type":"function","z":"3bd949fd.e93896","name":"save ebb","func":"\nflow.set(\"nebb\", msg.payload, \"night\");","outputs":0,"noerr":0,"x":700,"y":580,"wires":[]},{"id":"5198cd27.f8de94","type":"function","z":"3bd949fd.e93896","name":"save flow","func":"flow.set(\"nflow\", msg.payload, \"night\");","outputs":0,"noerr":0,"x":700,"y":640,"wires":[]},{"id":"9f915737.69ac08","type":"function","z":"3bd949fd.e93896","name":"night Json","func":"var dTime = flow.get(\"nstart\", \"night \");\nvar dEbb  = flow.get(\"nebb\", \"night \");\nvar dFlow = flow.get(\"nflow\", \"night \");\nmsg.payload = \"{\\\"data\\\":\\\"setN\\\",\\\"value\\\":\"+\"\\\"{\\\\\\\"time\\\\\\\":\\\\\\\"\"+dTime+\"\\\\\\\",\\\\\\\"ebb\\\\\\\":\"+dEbb+\",\\\\\\\"flow\\\\\\\":\"+dFlow+\"}\\\"}\"\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":700,"wires":[["4b672b7.ee2d8d4","585df1ce.c70bf","833cf27.822921"]]},{"id":"6e81c326.4629ec","type":"ui_text","z":"3bd949fd.e93896","group":"ac1af780.1f6ec8","order":0,"width":"8","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":510,"y":140,"wires":[]},{"id":"6b712f3e.42248","type":"mqtt in","z":"3bd949fd.e93896","name":"get status","topic":"/msillanohome/ebbflow/1/status/ebbflow","qos":"0","broker":"dd049958.750928","x":120,"y":140,"wires":[["6e81c326.4629ec"]]},{"id":"a269c113.39487","type":"mqtt in","z":"3bd949fd.e93896","name":"day","topic":"/msillanohome/ebbflow/1/status/timeD","qos":"0","broker":"dd049958.750928","x":110,"y":420,"wires":[["44869457.c02a5c","25c69a0b.7d8cd6"]]},{"id":"3526dc4e.986454","type":"function","z":"3bd949fd.e93896","name":"split","func":"var msg1 = { payload: msg.payload.time };\nflow.set(\"dstart\", msg1.payload, \"day\");\nvar msg2 = { payload: msg.payload.days };\nflow.set(\"ddays\", msg2.payload, \"day\");\nvar msg3 = { payload: msg.payload.debb };\nflow.set(\"debb\", msg3.payload, \"day\");\nvar msg4 = { payload: msg.payload.flow };\nflow.set(\"dflow\", msg4.payload, \"day\");\nreturn [msg1, msg2, msg3,msg4] ;","outputs":4,"noerr":0,"x":330,"y":320,"wires":[["d63c0712.5950c8"],["9a0ae4ef.ff5b98"],["626d0de9.e0b244"],["b99800dc.73b9e"]]},{"id":"44869457.c02a5c","type":"json","z":"3bd949fd.e93896","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":420,"wires":[["3526dc4e.986454"]]},{"id":"cc943563.62c3b8","type":"inject","z":"3bd949fd.e93896","name":"day","topic":"","payload":"day","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1121,"wires":[["99df59a2.ad6e48"]]},{"id":"a934f92e.a42318","type":"inject","z":"3bd949fd.e93896","name":"night","topic":"night","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1161,"wires":[["99df59a2.ad6e48"]]},{"id":"f7aca4bc.d79d48","type":"ui_button","z":"3bd949fd.e93896","name":"","group":"3815130b.1b6c1c","order":2,"width":"2","height":"1","passthru":false,"label":"ebb","color":"","bgcolor":"","icon":"","payload":"ebb","payloadType":"str","topic":"","x":990,"y":300,"wires":[["e491ab40.38c018"]]},{"id":"53d812f4.ad228c","type":"ui_button","z":"3bd949fd.e93896","name":"","group":"3815130b.1b6c1c","order":1,"width":"2","height":"1","passthru":false,"label":"flow","color":"","bgcolor":"","icon":"","payload":"flow","payloadType":"str","topic":"","x":990,"y":360,"wires":[["e491ab40.38c018"]]},{"id":"60f3dcdf.142974","type":"ui_button","z":"3bd949fd.e93896","name":"","group":"3815130b.1b6c1c","order":3,"width":"2","height":"1","passthru":false,"label":"day","color":"","bgcolor":"","icon":"","payload":"day","payloadType":"str","topic":"","x":990,"y":420,"wires":[["e491ab40.38c018"]]},{"id":"439968d7.d15a18","type":"ui_button","z":"3bd949fd.e93896","name":"","group":"3815130b.1b6c1c","order":4,"width":"2","height":"1","passthru":false,"label":"night","color":"","bgcolor":"","icon":"","payload":"night","payloadType":"str","topic":"","x":990,"y":480,"wires":[["e491ab40.38c018"]]},{"id":"e491ab40.38c018","type":"mqtt out","z":"3bd949fd.e93896","name":"send command","topic":"/msillanohome/ebbflow/1/command","qos":"0","retain":"","broker":"dd049958.750928","x":1240,"y":540,"wires":[]},{"id":"380e10b9.73c09","type":"mqtt in","z":"3bd949fd.e93896","name":"Night","topic":"/msillanohome/ebbflow/1/status/timeN","qos":"0","broker":"dd049958.750928","x":120,"y":680,"wires":[["a6546ffa.fe99c","25c69a0b.7d8cd6"]]},{"id":"a6546ffa.fe99c","type":"json","z":"3bd949fd.e93896","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":680,"wires":[["5d34d233.f4710c"]]},{"id":"5d34d233.f4710c","type":"function","z":"3bd949fd.e93896","name":"split","func":"var msg1 = { payload: msg.payload.time};\nflow.set(\"nstart\", msg1.payload, \"night\");\nvar msg2 = { payload: msg.payload.ebb };\nflow.set(\"nebb\", msg2.payload, \"night\");\nvar msg3 = { payload: msg.payload.flow };\nflow.set(\"nflow\", msg3.payload, \"night\");\n\nreturn [msg1, msg2, msg3] ;","outputs":3,"noerr":0,"x":330,"y":580,"wires":[["a64c8ce1.dae9a"],["24e6f7a9.7cfb28"],["7687431.7cfe7bc"]]},{"id":"15e0565e.c7b3ca","type":"inject","z":"3bd949fd.e93896","name":"","topic":"","payload":"sendD","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1","x":990,"y":200,"wires":[["e491ab40.38c018"]]},{"id":"b05bb5c4.7ba828","type":"inject","z":"3bd949fd.e93896","name":"","topic":"","payload":"sendN","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.9","x":990,"y":240,"wires":[["e491ab40.38c018"]]},{"id":"3bbc9ac9.508666","type":"trigger","z":"3bd949fd.e93896","op1":"","op2":"sendD","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"refresh","x":1000,"y":540,"wires":[["e491ab40.38c018"]]},{"id":"585df1ce.c70bf","type":"trigger","z":"3bd949fd.e93896","op1":"","op2":"sendN","op1type":"nul","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"refresh","x":1000,"y":580,"wires":[["e491ab40.38c018"]]},{"id":"cd197f2c.63911","type":"comment","z":"3bd949fd.e93896","name":"DASBOARD","info":"","x":70,"y":20,"wires":[]},{"id":"98ea7040.0b907","type":"comment","z":"3bd949fd.e93896","name":"TEST & DEBUG","info":"","x":100,"y":820,"wires":[]},{"id":"833cf27.822921","type":"debug","z":"3bd949fd.e93896","name":"echo set message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":640,"wires":[]},{"id":"9a0ae4ef.ff5b98","type":"ui_dropdown","z":"3bd949fd.e93896","name":"","label":"Ebb [days]","place":"Select option","group":"8c1cc485.da8cc8","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"0","value":0,"type":"num"},{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"},{"label":"3","value":3,"type":"num"},{"label":"4","value":4,"type":"num"},{"label":"5","value":5,"type":"num"},{"label":"6","value":6,"type":"num"},{"label":"7","value":7,"type":"num"},{"label":"8","value":8,"type":"num"},{"label":"9","value":9,"type":"num"},{"label":"10","value":10,"type":"num"},{"label":"11","value":11,"type":"num"},{"label":"12","value":12,"type":"num"},{"label":"13","value":13,"type":"num"},{"label":"14","value":14,"type":"num"}],"payload":"","topic":"","x":530,"y":260,"wires":[["6a2d3ba7.eb0624"]]},{"id":"6a2d3ba7.eb0624","type":"function","z":"3bd949fd.e93896","name":"save days","func":"\nflow.set(\"ddays\", msg.payload, \"day\");","outputs":1,"noerr":0,"x":700,"y":260,"wires":[[]]},{"id":"3701f61.4c7050a","type":"inject","z":"3bd949fd.e93896","name":"send Status","topic":"","payload":"status","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":1300,"wires":[["99df59a2.ad6e48"]]},{"id":"dd049958.750928","type":"mqtt-broker","z":"","name":"Orchid broker","broker":"192.168.0.45","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8c1cc485.da8cc8","type":"ui_group","z":"","name":"Day","tab":"c6785195.358b8","order":1,"disp":true,"width":"4"},{"id":"973efbe9.d4dee8","type":"ui_group","z":"","name":"Night","tab":"c6785195.358b8","order":2,"disp":true,"width":"4"},{"id":"ac1af780.1f6ec8","type":"ui_group","z":"","name":"echo","tab":"c6785195.358b8","disp":false,"width":"8"},{"id":"3815130b.1b6c1c","type":"ui_group","z":"","name":"Group 4","tab":"c6785195.358b8","order":4,"disp":false,"width":"8"},{"id":"c6785195.358b8","type":"ui_tab","z":"","name":"Ebb & Flow","icon":"dashboard","order":2}]